.App{
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 30px 0;
}
.form{
  width: 500px;
  display: flex;
  justify-content: space-between;

}
.btn-container{
  margin-top: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}